@import "../../../styles/iwVariables";
@import "../../../styles/formElemets";
@import "../../../styles/mixins";

.authBg {
    display:flex;
    justify-content: center;
    align-items: center;
    @include themify($themes) {
        background: themed(authRightBg);
    }
    width:100vw;
    height:100vh;
    // padding:6rem 20rem;
    overflow:hidden;
    &::before {
        content:"";
        width:50vw;
        height:100vh;
        @include themify($themes) {
            background: themed(authLeftBg);
        }
        position:absolute;
        top:0;
        left:0;
    }

    .loginWrapper {
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    
        .loginCard {
            // width:100%;
            height:auto;
            flex-shrink:0;
            backdrop-filter:blur(4px);
            -webkit-backdrop-filter:blur(4px);
            @include themify($themes) {
                background: themed(loginCardBg);
            }
            border-radius:12px;
            border:1px solid rgba(125, 149, 185, 0.3);
            padding:3.2rem;
            transition: ease .6s;
    
            .authLogo {
                display:inline-flex;
                align-items:center;
                img {
                    width:3.2rem;
                    height:auto;
                }
                h6 {
                    margin-left:1rem;
                    font-weight:600!important;
                    @include themify($themes) {
                        color: themed(HeadTextClr)
                    }
                }
            }
    
            .loginWrapper_main {
                display:flex;
                // width:100%;
            }
    
            .left{
                display:flex;
                flex:1;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                width:50%;
                padding:3.2rem 1.6rem 3.6rem;
                p { text-align:center; padding:3.5rem 0 0; font-size:1.6rem; font-weight:500; @include themify($themes) { color: themed(userIconClr) }; }
                line-height:2.4rem;
                img { width:100%; }
            }
    
            .right {
                display:flex;
                flex:1;
                padding:2.4rem;
                justify-content:center;
                width:50%;
                transition: ease-in-out .3s;
                .input_div {
                    display:flow-root;
                    width:80%;
                    height:fit-content;
                    border-radius:12px;
                    @include themify($themes) {
                        background: themed(loginInputBg);
                    }
                    box-shadow:0px 6px 12px 0px rgba(0, 0, 0, 0.12);
                    padding:2.4rem;
                    transition: ease-in .6s;
    
                    h4 {
                        text-align:center;
                        margin-bottom:1.4rem;
                    }
    
                    label { font-size:1.4rem; @include themify($themes) { color: themed(inputLable) } font-weight:500; margin-bottom:.8rem; }
                    // input { background:$blue-50; padding:1rem 1.2rem; border:1px solid $blue-100; border-radius:12px;
                    //     &::placeholder { color:$blue-gray; font-size:$medium-font-size; }
                    //     &:hover { border:1px solid $blue-300; }
                    // }
                    .btn { width:100%;
                    }
                    button { 
                        svg { @include themify($themes) { color: themed(inputIconClr) } font-size:2rem; }
                    }
    
                    .loginUtility { display:flex; justify-content:space-between; /*align-items:center;*/ font-size:$default-font-size; margin:.8rem 0 1.6rem;
                        label { 
                            margin-bottom:0;
                            @include respond(tab-land) {
                                line-height:2rem;
                                padding-left:2.6rem;
                            }
                         }
                        a { @include themify($themes) { color: themed(authLink) } font-weight:400; }
                    }
    
                    .creatAccount { font-size:1.6rem; @include themify($themes) { color: themed(HeadTextClr) }; font-weight:400; text-align:center; margin-top:2.4rem;
                        a {  @include themify($themes) { color: themed(authLink) }; font-weight:500; }
    
                    }
                }
            }
        }
    }
}

//Carousel

.carousel {
    height: 100%;
    .carousel-indicators {
        bottom:0;
        .carousel-indicators [data-coreui-target] {
            width:48px;
            height:4px;
            border-radius:8px;
            background-color:$primary-color;
        }
    }
    .carousel-inner {
        height:100%;
        .carousel-item {
            height:100%;
            .carousel-caption {
                width:100%;
                padding:0;
                left:0;
                right:0;  
                bottom:20px;
            }
        }
        
    }
}

// /* For Desktop View */
// @media screen and (min-width:1024px) {
//     .authBg {
//         width:100vw;
//         height:100vh;
//         padding:6% 20%;
//     }
//     .authBg::before {
//         content:"";
//         width:50vw;
//         height:100vh;

//     }
    
//     .loginWrapper {
//         width:100%;
//         height:100%;

//         .loginCard {
//             padding:2rem;
    
//             .authLogo {
//                 width:12em;
//             }
    
//             .loginWrapper_main {
//                 width:100%;
//             }
    
//             .left{
//                 width:50%;
//                 // padding:2.5rem 1rem;
//             }
    
//             .right {
//                 padding:1.25rem;
//                 width:50%;
//                 .input_div {
//                     width:84%;
//                     height:fit-content;
//                     padding:1.5rem;
//                     // .loginUtility { margin:.5rem 0;
//                     // }
//                     .creatAccount { font-size:1rem; }
//                     }
//                 }
//             }
//         }
//     }
 
/* For Tablet View */

@include respond(tab-port) {
    .authBg {
        .loginWrapper {
            .loginCard {
                height:fit-content;
                // .authLogo {
                //       width:20rem;
                //       display:flex;
                //       margin:0 auto;  
                // }
                .left {
                    display:none;
                    
                }
                .right {
                    width:100%;
                    padding:0;
                    .input_div {
                        width:380px;
                        background:none;
                        box-shadow:none;
                        padding:2.8rem 1rem;
                        label {
                            font-size:1.6rem;
                        }
                        .loginUtility {
                            .container {
                                #text {
                                    padding-top:.5rem;
                                }
                               padding-right:3.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
 
/* For Mobile Portrait View */
@include respond(phone) {
    .authBg{
        .loginWrapper {
            .loginCard {
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding:2rem .5rem;
                .left {
                    display:none;
                }
                .right {
                    width:100%;
                    padding:0rem;
                    h2, h3 { display:none; }
                    .input_div {
                        width:320px;
                        background:none;
                        box-shadow:none;
                        padding:2rem;
                        .loginUtility {
                            .container {
                                padding-left:3.4rem;
                                line-height:2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }     
}
 
// /* For Mobile Landscape View */
// @media screen and (max-device-width:640px)
//     and (orientation:landscape) {
//     .gfg-div {
//         width:400px;
//         height:200px;
//         background-color:cyan;
//         color:black;
//     }
// }
 
// /* For Mobile Phones Portrait or Landscape View */
// @media screen
//     and (max-device-width:640px) {
//     .gfg-div {
//         width:400px;
//         height:200px;
//         background-color:chartreuse;
//         color:black;
//     }
// }