@import "../../styles/iwVariables";
@import "../../styles/mixins.scss";
@import "../../styles/themeVariable";


.dashboard {
    width:100%;
    height:100vh;
    display:flex;
    overflow-x:hidden;
    overflow-y:hidden;
    @include themify($themes) {
        background: themed(dashboardBg);
    }
    position:relative;

    .leftPanel {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:4%;
        min-width:80px;
        @include themify($themes) {
            background: themed(dashboardBg);
        }
        padding:4rem 1.6rem 2rem;
        
        .navItems {
            display:flex;
            flex-direction:column;
            margin-top:2rem;
            .userIcon {
                display:flex;
                justify-content:center;
                align-items:center;
                position:relative;
                @include themify($themes){
                    background:themed(userIconBg);
                }
                @include themify($themes){
                    color:themed(userIconClr);
                }
                font-size:3rem;
                overflow: hidden;
                white-space: nowrap;
                text-transform:uppercase;
                width:4.8rem;
                height:4.8rem;
                border-radius:12px;
                font-weight:600;
                margin:2rem 0;
                border:2px solid transparent;
                letter-spacing:.1rem;
                &.mobile {
                    display:none;
                    @include respond(phone) {
                        display:flex;
                    }
                }
                span {
                    visibility: hidden;
                    width:auto;
                    background-color:$blue-50;
                    color:$secondary-color;
                    border:1px solid $blue-100;
                    text-align: center;
                    border-radius:12px;
                    padding:6px 8px;
                    font-size:1.6rem;
                    font-weight:500;
                    transition: linear .3s;
                    /* Position the tooltip */
                    position:fixed;
                    z-index: 1;
                    top:11.5rem;
                    left:7rem;
                    &::before {
                        border-top: 6px solid transparent;
                        border-right: 6px solid #f5f5f5;
                        border-bottom: 6px solid transparent;
                        margin-left: 6px; }
                  }
                  &:hover span {
                    visibility: visible;
                  }
            }
            .navItem {
                display:flex;
                justify-content:center;
                align-items:center;
                width:4.8rem;
                height:4.8rem;
                margin-bottom:1.6rem;
                @include themify($themes) {
                    background: themed(navItemBg);
                }
                @include themify($themes) {
                    color: themed(navItemClr);
                }
                border-radius:12px;
                list-style-type:none;
                transition:.6s;
                cursor:pointer;
                &:first-of-type {
                    background:none;
                    border:none;
                    &:hover {
                        border:none;
                    }
                    &.active,&:hover {
                        .userIcon{
                            border: 2px solid;
                            @include themify($themes){ border-color:themed(userIconActBrd); }
                        }
                    }
                    @include respond(phone){
                        display:none;
                    }
                }
                &:hover{
                    border:2px solid;
                    @include themify($themes){ border-color:themed(navItemHvrBrd); }
                    transition:ease-in-out .1s;
                }
                &.active, &:focus, &:focus-visible {
                    @include themify($themes) {
                        background: themed(navItemActBg);
                    }
                    color:$white;
                    transition:.6s;
                }
            }
        }
    }
    .rightPanel {
        @include themify($themes) {
            background: themed(rightPanelBg);
        }
        margin-top:1.5rem;
        width:96%;
        border-top-left-radius:2rem;
        padding:3.2rem 3.2rem 0;
        overflow-y:auto;
        position:relative;

        .dashboardWrapper {
            .topWrapper{
                display:flex;
                justify-content:space-between;
                flex-direction:row;
                align-items:center;
                .d-flex {
                    .selectMockData {
                        display:flex;
                        flex-direction: column;
                        label {
                            margin-bottom:.8rem;
                        }
                    }
                    .resetData {
                        color:$gray-mute;
                        width:40px;
                        height:40px;
                        margin-top:24px;
                    }
                }
                .welcomeMsg {
                    display:flex;
                    justify-content:left;
                    h3 {
                        color:$blue-800;
                    }
                }
                .import-btn {
                    width:fit-content;
                    background:$blue-700; color:$white; transition:ease-in .3s;
                    img {
                        position:relative;
                        margin-right:.8rem;
                        transition:fill .3s;
                    }
                    p { font-size:1.6rem; }
                    &:hover { background:$primary-color; }
                }
            }
            section {
                .dataTypeSelector { height:4.4rem; }
                .table { width: 100%; }
                .dxTable{
                    height:450px;
                    box-shadow:0 0 6px rgba($blue-900,.20);
                    border-radius:12px;
                    @include respond(phone){
                        height:calc(100vh - 40rem);
                    }
                }
                border-radius:12px;
                margin-top:2.5rem;

                    .uplodedFile {
                        span {
                        justify-content:center;
                        background:none;
                        border:none;
                        }
                    }
            }
        }
    }
}

.uploadWrapper {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:1.6rem 2rem;
    color:$blue-900;
    font-size:1.6rem;
    .drop-file-input {
        position: relative;
        width:326px;
        height: 200px;
        border: 2px dashed $blue-300;
        border-radius:1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image:linear-gradient(45deg, rgba($blue-100, .5), rgba($blue-10, .05));
    }
    .drop-file-input input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .drop-file-input:hover,
    .drop-file-input.dragover {
        opacity: 0.6;
    }
    .drop-file-input__label {
        text-align: center;
        color:$blue-900;
        font-weight: 600;
        padding: 10px;
    }

    .drop-file-input__label img {
        width:160px;
    }

    .drop-file-preview {
        margin-top: 30px;
    }

    .drop-file-preview p {
        font-weight: 500;
    }

    .drop-file-preview__title {
        margin-bottom: 20px;
    }

    .drop-file-preview__item {
        position: relative;
        display: flex;
        margin-bottom: 10px;
        background:$blue-50;
        padding: 15px;
        border-radius: 20px;
    }

    .drop-file-preview__item img {
        width: 50px;
        margin-right: 20px;
    }

    .drop-file-preview__item__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .drop-file-preview__item__del {
        background-color: var(--box-bg);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: var(--box-shadow);
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .drop-file-preview__item:hover .drop-file-preview__item__del {
        opacity: 1;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
      
        input[type=file] {
            // font-size:100px;
            position:absolute;
            left:0;
            top:0;
            opacity:0;
        }
    }

    p{ margin:1.6rem 0; font-weight:500; }
    span {
        margin-top: 1.6rem ;
        text-align: center;
        color:$gray-mute;
        font-size:1.2rem;
        font-weight:500;
    }  
}

.uplodedFile {
    display:flex;
    justify-content:space-between;
    width:fill-available;
    width:-webkit-fill-available;
    span {
        display:flex;
        width:fill-available;
        width:-webkit-fill-available;
        justify-content:space-between;
        align-items:center;
        line-height:20px;
        background:aliceblue;
        @include themify($themes) {
            color: themed(tableActionClr);
        }
        font-weight:500;
        padding:1.2rem;
        border:1px solid $blue-300;
        border-radius:12px;
        font-size:1.6rem;
        .successIcon {
            display:flex;
            align-items:center;
            color:$secondary-color;
            svg {
                font-size:24px;
                margin-right:.6rem;
            }
        }
    }
}

.matchCols {
    display:flex;
    flex-direction:column;
    margin:1.8rem 0 3rem; 
    h5 {
        margin:1.6rem 0;
    }
    .columnRow {
        flex-wrap: wrap;
        max-width: 860px;
        height: max-content;
        display:inline-flex;
        @include respond(phone) {
            display:flex;
            flex-direction:column;
        }
        .column{
            display:flex;
            flex-direction:column;
            margin:0 1.6rem 1.2rem 0;
            &:nth-child(4),&:nth-child(8),&:nth-child(12) {
                margin-right:0;
            }
            label {
                font-size:1.6rem;
                font-weight:500;
                text-transform:capitalize;
                margin:1.8rem 0 1rem;
            }
        }
    }
}

.dataTypeSelector {
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:space-between;
    margin:1.6rem 0;
    label { font-size:1.6rem; margin-bottom:.8rem; }
}


 /* For Tablet View */
@include respond(tab-port) {
    .dashboard {
        .rightPanel {
            padding:2rem 2rem 0;
            .dashboardWrapper {
                .topWrapper {
                    .welcomeMsg{
                        h2 { font-size:2rem; }
                    }
                    .import-btn {
                        img { margin-right:0; }
                        span { display:none; }
                    }
                }
                
            }
        }
    }
    .dx-button-text { display:none; }
    .dx-button-has-text .dx-icon { margin-right:0!important; font-size:20px!important; }
}

/* For Mobile Portrait View */
@include respond(tab-land) {
    .uplodedFile {
        span {
            line-height:3.1rem;
        }
    }
}

@include respond(phone) {
    .dashboard {
        justify-content:center;
        position:relative;
        .leftPanel {
            display:inline-flex;
            flex-direction:row;
            justify-content: center;
            position:fixed;
            bottom:0;
            width:100%;
            height:62px;
            padding:.5rem;
            z-index:1;
            .head { display:none; }
            .navItems {
                display:inline-flex;
                justify-content:space-between;
                background:none;
                gap:4rem;
                padding-top:0;
                margin-top:0;
                flex-direction:row;
                .userIcon {
                    margin:0;
                }
                .navItem { margin-bottom:0; background:none; }
            }
        }
        .rightPanel {
            width:100%;
            height:calc(100vh - 68px);
            padding:3rem 1rem 0 1.8rem;
            .dashboardWrapper{
                .topWrapper {
                    // flex-direction:column;
                    .import-btn {
                        margin-top:14px;
                        img { margin-right:0!important; }
                        span { display:none; }
                    }
                }
                section {
                    padding:2% 0;
                    margin-top:1.5rem;
                    .dxTable {
                        box-shadow:none;
                    }
                }
            }
            .dx-button-text { display:none; }
            .dx-button-has-text .dx-icon { margin-right:0!important; font-size:20px!important; }
        }
    }
    .uplodedFile {
        span {
            line-height:2rem;
        }
    }
    
        .uploadWrapper {
            .drop-file-input, p {
                display:none;
            }
        } 

    

    .matchCols { 
        flex-direction:column;
        margin:3rem 0 2rem;
        .column {
            flex-direction:column;
            align-items:flex-start;
            margin-right:0;
            margin-bottom:1.6rem;
            p {
                margin-right:0;
                margin-bottom:.8rem;
            }
            [class*=-MuiFormControl-root] {
                min-width:272px;
            }
        }
     }

    .dataTypeSelector label { margin-right:.8rem; }
}
