// @import "../../styles/dxTable";
@import "../../styles/iwVariables";
// @import "../../styles/formElemets";

.dashboard {
    width:100%;
    height:100vh;
    display:flex;
    overflow-x:hidden;
    overflow-y:hidden;
    background:$blue-700;
    position:relative;

    .leftPanel {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:4%;
        min-width:80px;
        background:$blue-700;
        padding:4rem 1.6rem 2rem;
        .navItems {
            display:flex;
            flex-direction:column;
            margin-top:2rem;
            .navItem {
                display:flex;
                justify-content:center;
                align-items:center;
                width:4.8rem;
                height:4.8rem;
                margin-bottom:1.6rem;
                background:$blue-800;
                color:$blue-200;
                border-radius:8px;
                list-style-type:none;
                transition:.6s;
                cursor:pointer;
                &:hover{
                    border:2px solid $blue-200;
                    transition:ease-in-out .1s;
                }
                &.active, &:focus, &:focus-visible {
                    background:$primary-color ;
                    color:$white;
                    transition:.6s;
                }
            }
        }
    }
    .rightPanel {
        background:$white;
        margin-top:1.5rem;
        width:96%;
        border-top-left-radius:2rem;
        padding:3.2rem 3.2rem 0;
        overflow-y:scroll;
        position:relative;

        .dashboardWrapper {
            .topWrapper{
                display:flex;
                justify-content:space-between;
                flex-direction:row;
                align-items:center;
                .welcomeMsg {
                    display:flex;
                    justify-content:left;
                    h3 {
                        color:$blue-800;
                    }
                }
                .import-btn {
                    z-index: 9999;
                    width:fit-content;
                    background:$blue-700; color:$white; transition:ease-in .3s;
                    img {
                        position:relative;
                        margin-right:.8rem;
                        transition:fill .3s;
                    }
                    caption { font-size:1.6rem; }
                    &:hover { background:$primary-color; }
                }
            }
    
            section {
                .dxTable{
                    box-shadow:0 0 6px rgba($blue-900,.20);
                    border-radius:8px;
                }
                border-radius:8px;
                margin-top:6.4rem;
                .dataTypeSelector {
                    display:flex;
                    justify-content:left;
                    margin-bottom:1.6rem;
                }
            }
           
        }

    }
}

.uploadWrapper {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:1.6rem 4rem;
    color:$blue-900;
    font-size:1.6rem;
    .drop-file-input {
        position: relative;
        width:280px;
        height: 200px;
        border: 2px dashed $blue-300;
        border-radius:1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image:linear-gradient(45deg, rgba($blue-100, .5), rgba($blue-10, .05));
    }
    .drop-file-input input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .drop-file-input:hover,
    .drop-file-input.dragover {
        opacity: 0.6;
    }
    .drop-file-input__label {
        text-align: center;
        color:$blue-900;
        font-weight: 600;
        padding: 10px;
    }

    .drop-file-input__label img {
        width:160px;
    }

    .drop-file-preview {
        margin-top: 30px;
    }

    .drop-file-preview p {
        font-weight: 500;
    }

    .drop-file-preview__title {
        margin-bottom: 20px;
    }

    .drop-file-preview__item {
        position: relative;
        display: flex;
        margin-bottom: 10px;
        background:$blue-50;
        padding: 15px;
        border-radius: 20px;
    }

    .drop-file-preview__item img {
        width: 50px;
        margin-right: 20px;
    }

    .drop-file-preview__item__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .drop-file-preview__item__del {
        background-color: var(--box-bg);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: var(--box-shadow);
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .drop-file-preview__item:hover .drop-file-preview__item__del {
        opacity: 1;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
      
        input[type=file] {
            // font-size:100px;
            position:absolute;
            left:0;
            top:0;
            opacity:0;
        }
    }

    p{ margin:1.6rem 0; font-weight:500; }
    span {
        margin-top: 1.6rem ;
        text-align: center;
        color:$gray-mute;
        font-size:1.2rem;
        font-weight:500;
    }  
}

.uplodedFile {
    display:flex;
    justify-content:space-between;
    width:fill-available;
    width:-webkit-fill-available;
    span {
        display:flex;
        width:fill-available;
        width:-webkit-fill-available;
        justify-content:space-between;
        align-items:center;
        line-height:20px;
        background:aliceblue;
        color:$blue-800;
        font-weight:500;
        padding:1.6rem;
        border:1px solid $blue-300;
        border-radius:8px;
        font-size:1.6rem;
        .successIcon {
            margin-left:1.6rem;
            font-size:24px;
            color:$secondary-color;
        }
    }
}

.matchCols {
    margin:1.8rem 0; 
    display:flex;
    flex-direction:row;
    .column{
        display:flex;
        align-items:center;
        margin-right:1.6rem;
        &:last-of-type {
            margin-right:0;
        }
        p {
            font-size:1.6rem;
            font-weight:500;
            margin-right:.8rem;
        }
    }
}


 /* For Tablet View */
@media screen and (min-device-width:768px)
and (max-device-width:1023px) {
    .dashboard {
        .rightPanel {
            padding:2rem 2rem 0;
            .dashboardWrapper {
                .topWrapper {
                    .welcomeMsg{
                        h2 { font-size:2rem; }
                    }
                    .import-btn {
                        img { margin-right:0; }
                        span { display:none; }
                    }
                }
                
            }
        }
    }
    .dx-button-text { display:none; }
    .dx-button-has-text .dx-icon { margin-right:0!important; font-size:20px!important; }
}

/* For Mobile Portrait View */
@media screen and (max-device-width:480px)
    and (orientation:portrait) {
      .dashboard {
        justify-content:center;
        position:relative;
        .rightPanel {
            .import-btn {
                img { margin-right:0; }
                span { display:none; }
            }
            .dx-button-text { display:none; }
            .dx-button-has-text .dx-icon { margin-right:0!important; font-size:20px!important; }
            section{
                padding:2% 0;
                .dx-light-pages {
                    input.dx-texeditor-input{
                        padding-left:.5rem;
                    }
                }
            }
        }
        .leftPanel {
            display:inline-flex;
            flex-direction:row;
            justify-content: center;
            position:fixed;
            bottom:0;
            width:100%;
            height:60px;
            padding:.5rem;
            z-index:1;
            .head { display:none; }
            .navItems {
                display:inline-flex;
                justify-content:space-between;
                gap:1rem;
                padding-top:0;
                margin-top:0;
                flex-direction:row;
            }
        }
      }
}
