@import '../../styles/iwVariables';
@import '../../styles/mixins';
@import '../../styles/themeVariable';
@import '../../styles/formElemets.scss';

.profileWrapper, .changePassWrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    @include themify($themes){
        color:themed(profileTxt);
    }
    h4 { 
        margin-bottom:1.5rem;
    }
    .formDiv, .logs {
        width:48rem;
        padding:2rem;
        border-radius:12px 12px 0 0;
        border:1px solid;
        @include themify($themes){ border-color: themed(formDivBrd); }
        @include respond (phone) {
            width:42rem;
        }
        .userIcon {
            display:flex;
            justify-content:center;
            align-items:center;
            position:relative;
            @include themify($themes){
                background:themed(userIconBg);
            }
            @include themify($themes){
                color:themed(userIconClr);
            }
            font-size:3rem;
            overflow: hidden;
            white-space: nowrap;
            text-transform:uppercase;
            width:4.8rem;
            height:4.8rem;
            border-radius:12px;
            font-weight:600;
            letter-spacing:.1rem;
            margin-right:1.2rem;
            &.mobile {
                display:none;
                @include respond(phone) {
                    display:flex;
                }
            }
        }
        .profileInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 0 2rem;
            border-bottom:1px solid;
            @include themify($themes){
                border-color:themed(profileDivder);
            }
            .userInfo {
                display:flex;
                align-items:center;
            }
            span {
                @include themify($themes){
                    background:themed(profileRoleBg);
                }
                @include themify($themes){
                    color:themed(profileRoleClr);
                }
                border:1px solid;
                @include themify($themes){
                    border-color:themed(profileRoleBrd);
                }
                border-radius:12px;
                padding: 4px 8px
            }
        }
        .loggedDetail {
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:1.6rem 0 ;
            span {
                @include themify($themes){
                    color:themed(userIconClr);
                }
                font-weight:500;
            }
        }    
        .themeContent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:1.6rem 0 ;
            border-bottom:1px solid;
            @include themify($themes){
                border-color:themed(profileDivder);
            }
        }
    }
    .logoutDiv {
        display:flex;
        justify-content:center;
        width:48rem;
        padding:0;
        margin-top:.4rem;
        border:1px solid;
        text-align:center;
        @include themify($themes){ border-color: themed(formDivBrd); }
        border-radius:0 0 12px 12px;
        @include respond (phone) {
            width:42rem;
        }
    }
    .logs {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        .h6 {
            opacity:.5;
            font-weight:400;
        }
    }
    .table {
        .table-header {
            width:100%;
        }
    }
}

.changePassWrapper {
    .formDiv {
        display:flex;
        flex-direction:column;
        width:fit-content;
        justify-content: center;
        @include themify($themes){ border-color: themed(formDivBrd); }
        .formGroup {
            margin-right:0;
            label { margin:0 0 .8rem; }
        }
    }
}

@include respond(phone) {
    .table {
        width:100%;
        overflow-x: auto;
        
        .table-header, .table-row {
            width:fit-content!important;
            white-space:nowrap;
        }

        .table-data, .header__item {
            text-align:left;
                width:16rem;

        }
    }
}