@import '../styles/iwVariables';
@import '../styles/themeVariable.scss';

.ReactModalPortal {
  position:relative;
  z-index:999;
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter:blur(2px);
    background-color: rgba($blue-900,0.5);
  }
  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background:$white;
    transform: translate(-50%,-50%);
    padding: 2.4rem;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: fit-content;
    height:fit-content;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    .logoutWrapper {
      width:40rem;
      display:flex;
      align-items:center;
      flex-direction:column;
      h5 {
        margin-bottom:2.4rem;
        color:$blue-900;
      }
      p{
        text-align:center;
        margin-bottom:2.4rem;
        font-size:1.6rem;
        color:$gray-blue-50;
      }
      button {
        margin-right:1.6rem;
      }
      .btn-text {
        color:$secondary-color;
      }
    }
    .modalHead{
      display:flex;
      justify-content:space-between;
      width:100%;
      margin-bottom:1.6rem;
      color:$blue-900;
      h4 {
        text-align:center;
        font-weight:600!important;
      }
      .closeModal {
        position: absolute;
        top:1.6rem;
        right:1.6rem;
        cursor:pointer;
        padding:.4rem;
        svg { margin-right:0; }
      }
    } 
  }
}

.ReactModalPortal {
  position:relative;
  z-index:999;
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter:blur(2px);
    background-color: rgba($blue-900,0.5);
  }
  .DarkModal {
    position: absolute;
    top: 50%;
    left: 50%;
    background:#0d0d0d;
    transform: translate(-50%,-50%);
    padding: 2.4rem;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    width: fit-content;
    height:fit-content;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    .uploadWrapper {
      p{
        color:#9ba6d4;
      }
      .uploadWrapper .drop-file-input {
        border: 2px dashed #6a79b4;
      }
    }
    label {
      color:#808080;
    }
    .matchCols{
      h5{
        color:#d6d6d6;
      }
    }
    .uplodedFile span {
      background: #171a1c;
      border:1px solid #353a50;
      .btn-text {
        color:#9ba6d4;
      }
    }
    .logoutWrapper {
      width:40rem;
      display:flex;
      align-items:center;
      flex-direction:column;
      h5 {
        margin-bottom:2.4rem;
        color:#d6d6d6;
      }
      p{
        text-align:center;
        margin-bottom:2.4rem;
        font-size:1.6rem;
        color:#9ba6d4;
      }
      button {
        margin-right:1.6rem;
      }
      .btn-text {
        color:#9ba6d4;
      }
    }
    .modalHead{
      display:flex;
      justify-content:space-between;
      width:100%;
      margin-bottom:1.6rem;
      color:#d6d6d6;
      h4 {
        text-align:center;
        font-weight:600!important;
      }
      svg {
        color:#d6d6d6;
      }
      .closeModal {
        position: absolute;
        top:1.6rem;
        right:1.6rem;
        cursor:pointer;
        padding:.4rem;
        svg { margin-right:0; }
      }
    } 
  }
}
