@import "./iwVariables";
// @import "./formElemets";

.dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer { border:1px solid $white-93!important; }

.dx-datagrid-headers { background:$white; border-bottom:none!important; border-radius:.5rem .5rem 0 0; overflow:hidden; }
.dx-datagrid .dx-datagrid-headers .dx-header-row { background:$white-98; height:44px; }
.dx-header-row > td > .dx-datagrid-text-content:not(.dx-sort-indicator):not(.dx-header-filter-indicator) { color:$gray-mute!important; font-weight:600!important;  }
.dx-datagrid .dx-datagrid-headers .dx-header-row > td { border-left: 1px solid $white-98 !important; border-right:none !important; }
.dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td { vertical-align:middle!important; }
.dx-datagrid .dx-row > td { padding:10px 12px!important; }

.dx-datagrid-header-panel { display:flex; justify-content: center; }
.dx-datagrid-header-panel .dx-toolbar { display:flex; justify-content:center; width:30rem!important; }
.dx-toolbar { position:absolute; background:none!important; top:-6.75rem; }
.dx-toolbar-items-container { width:30rem!important; }
.dx-texteditor.dx-editor-outlined { background:none!important; border:none!important; width:30rem!important; border-radius:.5rem!important; }
.dx-texteditor-input { background:$blue-50!important; border:1px solid $blue-100!important; width:30rem!important; border-radius:.5rem!important;min-height:40px; padding:10px 12px 10px 2rem!important; color:$blue-900; }
.dx-searchbox .dx-icon-search { color:$gray-mute!important; font-size:1.25rem!important; }
.dx-searchbox .dx-icon-search::before,.dx-placeholder { color:$gray-mute!important; }

.dx-texteditor.dx-state-focused.dx-editor-outlined { border:none!important; border-radius:.5rem; }
.dx-texteditor.dx-state-hover { border:none!important; border-radius:.5rem; }

.dx-datagrid .dx-row-alt > td, .dx-datagrid .dx-row-alt > tr > td { background:$blue-10!important;}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td { border-bottom:none; }
.dx-datagrid .dx-column-lines > td { border: none!important; }

.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection{ background:$secondary-color!important; color:$white!important; }