input {
    outline:none;
    font-size:1rem;
    font-weight:400;
    background:$blue-50;
    margin-top:0;
    padding: 10px 12px; 
    border: 1px solid $blue-100; border-radius:.5rem;
    &::placeholder { color:$blue-gray; font-size:$medium-font-size; }
    &:hover { border: 1px solid $blue-300; border-right:none; }
    &:focus { box-shadow:0 0 0 .15rem rgba($blue-200, .6);}
}

button { outline:none;  border:none; cursor:pointer;
    &.btn { padding:10px 16px; border-radius:.5rem; font-size:1rem; }
    &.btn-primary { background:$primary-color; color:$white;
        &:hover { background:$secondary-color; }
    }
}

.container {
    display: block;
    position: relative;
    padding-left:1.75rem;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height:20px;
    width:20px;
    background:$white;
    border:1px solid $blue-100;
    border-radius:4px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background:$blue-50;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background:$secondary-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }