@import './iwVariables';

input, select,
[class*=-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input] {
  outline:none!important;
  font-size:1.6rem!important;
  font-weight:400!important;
  background:$white-96!important;
  margin-top:0!important;
  padding:12px 16px!important; 
  border:1px solid $blue-100!important; border-radius:8px!important;
  &::placeholder { color:$blue-gray!important; font-size:$medium-font-size!important; }
  &:hover { border:1px solid $blue-300!important; }
  &:focus { box-shadow:0 0 0 1px rgba($blue-200, .6)!important;}
}

label { font-size:$default-font-size; color:$gray-mute; font-weight:500; }

option {
   padding:10px 12px;
   color:$blue-800;
   &:hover{
    background:$secondary-color;
    color:$white;
   }
}

button { 
  display:flex;
  align-items:center;
  outline:none;
  border:1px solid transparent;
  cursor:pointer; 
  text-transform:uppercase;
  font-family:'Inter', sans-serif;
  font-weight:500;

  &.btn { padding:1.2rem 1.6rem; border-radius:.8rem; font-size:1.6rem; letter-spacing:.04rem; justify-content:center; cursor:pointer;
   &:disabled { opacity:.8; } 
  }
  &.btn-primary { background:$primary-color; color:$white;
      &:hover { background:$secondary-color; }
  }
  &.btn-outline { display:flex; align-items:center; background:$white; color:$primary-color; border:1px solid $primary-color; }
  &.btn-text { background:none; font-size:1.6rem; font-weight:500; color:$secondary-color;
    svg { margin-right:.8rem; }
  }
  svg { font-size:2.4rem; }
}

.container {
    display:block;
    position:relative;
    padding-left:2.4rem;
    margin-bottom:1.2rem;
    cursor:pointer;
    font-size:2.2rem;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position:absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position:absolute;
    top:0;
    left:0;
    height:20px;
    width:20px;
    background:$white;
    border:1px solid $blue-100;
    border-radius:4px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background:$blue-50;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background:$secondary-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content:"";
    position:absolute;
    display:none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display:block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left:7px;
    top:3px;
    width:5px;
    height:10px;
    border:solid $white;
    border-width:0 2px 2px 0;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
  }

.formGroup {
  display:flex;
  flex-direction:column;
  width:20em;
  margin:0 2rem 1.6rem 0;
  .inputTop {
    display:flex;
    justify-content:space-between;
    margin-bottom:.5rem;
    label { font-size:14px; font-weight:500; line-height:2rem; }
    .rightIcon { color:$red-error; font-size:2rem; line-height:2rem; }
  }
}
  
/* Form Elements */
[class*=-MuiButtonBase-root-MuiTab-root]{
  font-size:1.6rem!important;
  &.Mui-selected  { color:$secondary-color!important; }
}
[class*=-MuiTabs-indicator] { background-color:$secondary-color!important; }

[class*=-MuiTypography-root] { font-size:14px !important; }
.MuiInputLabel-formControl { font-size:14px !important; font-weight:600 !important; }
[class*=-MuiFormLabel-root-MuiInputLabel-root].Mui-focused { color:$secondary-color !important; }
[class*=-MuiFormLabel-root-MuiInputLabel-root].Mui-error.Mui-focused { color:$red-error !important; }

[class*=-MuiInputBase-root-MuiFilledInput-root] {
	background:transparent !important;
	border:1px solid rgba(0, 0, 0, 0.42);
	border-radius:4px;
	&.Mui-focused {
		border:1px solid $secondary-color !important;
	}
	&::before {
		border-bottom:none !important;
	}
	&::after {
		border:1px solid $secondary-color !important;
		transform:scale(0) !important;
	}
}

.Mui-error + [class*=-MuiInputBase-root-MuiFilledInput-root],
.Mui-error.Mui-focused + [class*=-MuiInputBase-root-MuiFilledInput-root] { border-color:$red-error !important; }

[class*=-MuiFormControl-root] { margin:0!important; height:46px; }

[class*=-MuiInputBase-input-MuiFilledInput-input] { height:4.8rem !important; }
[class*=-MuiFormControl-root-MuiTextField-root] { /*min-width:100% !important;*/ margin:0 8px 20px 0 !important; }
[class*=-MuiFormControl-root-MuiTextField-root] input:read-only { background:#ebf0f3; border-radius:3px; }
.readOnly [class*=-MuiFormLabel-root-MuiInputLabel-root].Mui-focused { color:rgba(0, 0, 0, 0.6) !important; }
.capCase [class*=-MuiInputBase-input-MuiFilledInput-input] { text-transform:capitalize; }

.MuiAutocomplete-popper .MuiMenuItem-root { font-size:15px !important; line-height:1.3em; min-height:auto !important; padding:5px 10px !important; }

[class*=-MuiFormHelperText-root] { font-size:11px !important; line-height:1.2em !important; margin:3px 4px 0 !important; }

[class*=-MuiButtonBase-root-MuiButton-root] {
  text-transform:none !important;
  margin:0 12px !important;
}

[class*=MuiInputBase-root]{
  &.Mui-focused { border:1px solid $blue-300!important; outline:0; box-shadow:none; border-radius:8px!important; }
}
[class*=-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input]{
  &.Mui-disabled { border:0; }
}
[class*=-MuiOutlinedInput-notchedOutline] { border-color:$blue-100!important; top:0!important; border-width:0!important; }
[class*=-MuiButtonBase-root-MuiMenuItem-root] { color:$blue-900!important; font-weight:500; font-size:1.6rem!important; }
[class*=-MuiButtonBase-root-MuiMenuItem-root].Mui-selected { background:$blue-200!important; color:$blue-900; font-weight:500; }
[class*=-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root] { font-size:1.6rem!important;
  &.Mui-focused .MuiOutlinedInput-notchedOutline { border-width:0px!important; }
}
[class*=-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root]
[class*=-MuiSvgIcon-root-MuiSelect-icon ] { width:2.5rem!important; height:2.5rem!important; color:$gray-mute; top:calc(50% - 1.2rem)!important; }

.tableResponsive { display:block; width:100%; overflow-x:auto; }