@import "./iwVariables";
@import "./formElemets";

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-weight:400;
    &:before,
    &:after {
        box-sizing:border-box !important;
    }
}

body { box-sizing:border-box; margin:0; padding:0; color:$blue-900 }

h1,h2,h3,h4 { font-weight:600!important; color:$blue-900; }

input:-webkit-autofill {
    &:hover,
    &:focus,
    &:active { box-shadow:0 0 0 40px transparent inset !important; -webkit-box-shadow:0 0 0 40px transparent inset !important; -webkit-text-fill-color:$black-80; }
}

a { text-decoration:none; }


