@import './iwVariables.scss';

$themes: (
  light: (
    colorText:$blue-dark,
    colorBackground: #f8f8fa,
    dashboardBg:$blue-700,
    rightPanelBg:$white,
  ),
  dark: (
    colorText:#eff2f7,
    dashboardBg:$blue-900,
    rightPanelBg:$blue-dark,
    colorBackground: #222736,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
   }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}