@import './iwVariables.scss';

$themes: (
  light: (
    colorText:$blue-dark,
    inputBg:$white-96,
    inputBrd:$blue-100,
    inputPlcHd:$blue-100,
    dashboardBg:$blue-700,
    rightPanelBg:$white,
    navItemActBg:$primary-color,
    navItemActClr:$white,
    navItemBg:$blue-800,
    navItemClr:$blue-200,
    userIconBg:$blue-100,
    userIconClr:$blue-800,
    formDivBrd:$white-93,
  ),
  dark: (
    colorText:#c7c7c7,
    inputBg:#050505,
    inputBrd:#2e2e2e,
    inputPlcHd:#797979,
    dashboardBg:#141414,
    rightPanelBg:#050505,
    navItemActBg:#292929,
    navItemActClr:$white-96,
    navItemBg:#1a1a1a,
    navItemClr:#B3B3B3,
    userIconBg:#25336a,
    userIconClr:#d8ddf3,
    formDivBrd:#2f2f2f,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
   }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}