.custom-slider {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .slider-content {
    overflow: hidden;
    width: 40%;
    height: 20rem;
  }
  
  .slide {
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .slide.active {
    display: block;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider-button:hover {
    background-color: #555;
  }
  
  .slider-button:first-child {
    left: 10px;
  }
  
  .slider-button:last-child {
    right: 10px;
  }
  