/* Button.module.css */

.button {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    user-select: none;
}

.primary {
    background-color: #4566E8;
    color: white;
}

.primary.disabled {
    pointer-events: none;
    background-color: #edf1ff;
    color: rgb(69, 69, 69);
}

.primary:hover {
    background-color: #3650B5;
}

.secondary {
    background-color: gray;
    color: whitesmoke;
}

.secondary:hover {
    background-color: rgb(104, 104, 104);
}

.success {
    background-color: rgb(3, 135, 3);
    color: white;
}

.success:hover {
    background-color: rgb(2, 101, 2);
    color: white;
}

.danger {
    background-color: rgb(255, 0, 0);
    color: white;
}

.danger:hover {
    background-color: rgb(213, 1, 1);
}

.outline {
    background-color: transparent;
    color: #4566E8;
    border: 2.2px solid #4566E8;
}
.outline:hover {
    color: #3650B5;
    border: 2.2px solid #3650B5;
}

.small {
    padding: 8px 10px;
    font-size: 14px;
}

.medium {
    padding: 10px 18px;
    font-size: 14px;
}

.large {
    padding: 12px 24px;
    font-size: 16px;
}