$primary-color:#4566E8;
$secondary-color:#3650B5;
$third-blue:#2A3E8C;

$white:#fff;
$white-95:#f0f0f7;
$white-93:#eee;
$white-89:#e2e2e2;

$black:#000;
$black-80:#333;

$gray-88:#ddd;
$gray-80:#ccc;
$gray-76:#bbb;
$gray-70:#aaa;
$gray-60:#999;
$gray-40:#666;
$gray-48:#69738a;
$gray-blue:#7e94a0;
$gray-mute:#626D99;


$blue-10:#d6e7ee;
$blue-50:#EDF1FF;
$blue-100:#C8D3FF;
$blue-200:#ADBDFF;
$blue-300:#879FFF;
$blue-400:#708DFF;

$blue-700:#3650B5;
$blue-800:#2A3E8C;
$blue-900:#202F6B;

$blue-gray:#B8C1E5;



$success:#04844b;
$red-error:#bd3630;

$default-font-size:14px;
$medium-font-size:16px;