* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

.authBg {
    background-color: #EDF1FF;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}
.authBg::before {
    content: "";
    width: 50vw;
    height: 100vh;
    background-color: #4C70FF;
    position: absolute;
    top: 0;
    left: 0;
}

.center {
    // position: absolute;
    // top: 50%;
    // left: ;
}

.card {
    backdrop-filter: blur(5px) saturate(111%);
    -webkit-backdrop-filter: blur(5px) saturate(111%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 60%;
    padding: 2rem;
}