* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

.authBg {
    background-color: #EDF1FF;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}
.authBg::before {
    content: "";
    width: 50vw;
    height: 100vh;
    background-color: #4C70FF;
    position: absolute;
    top: 0;
    left: 0;
}