.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom:2rem !important;
}

.input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
    display: flex;
}

.inputWrapper{
    position: relative;

    .iconButton {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-40%);
        background: transparent;
        border: none !important;
        outline: none;
        cursor: pointer;
    }
}

.default {
    background-color: #fff;
}

.small {
    padding: 5px;
    font-size: 14px;
}

.medium {
    padding: 8px;
    font-size: 16px;
}

.large {
    padding: 12px;
    font-size: 18px;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}

.optional {
    font-style: italic;
    margin-left: 5px;
}

.required {
    color: red;
}

/* label {
    margin-top: 8px;
} */